.template-index {
    .xite-breadcrumbs{
        display: none;
    }
}

.xite-breadcrumbs{
    padding: 16px;
    .container{
        max-width: 1348px;
        @include respond-below(md){
            width: 100%;
        }
    }
    .breadcrumbs{
        display: inline-flex;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: var(--Contrast-1, #193547);
        a{
            color: var(--Complementary, #999);
            leading-trim: both;
            text-edge: cap;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
            text-decoration-line: underline;
            text-decoration-style: solid;
            text-decoration-skip-ink: none;
            text-decoration-thickness: auto;
            text-underline-offset: auto;
            text-underline-position: from-font;
            color: var(--Contrast-1, #193547);
            &[aria-current=page]{
                font-weight: 700;
                text-decoration: none;
            }
        }
        span{
            color: var(--Contrast-1, #193547);
            leading-trim: both;
            text-edge: cap;
            font-family: Roboto;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }
    }
}