.xite-usps {
    margin-bottom: -40px;
    z-index: 10;
    position: relative;

    .try-wrapper {
        border-radius: 50px;
        background: var(--Contrast-1, #193547);
        width: 893px;
        min-height: 363px;
        flex-shrink: 0;
        margin: auto;
        display: flex;
        padding: 10px 10px 10px 32px;
        justify-content: space-between;
        position: relative;
        top: 180px;

        @include respond-below(md) {
            flex-direction: column;
            width: 100%;
            padding: 34px 13px;
            top: 80px;
            gap: 25px;
            border-radius: 40px;
        }

        .try-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            justify-content: center;
            &:nth-child(1){
                @include respond-below(md) {
                    gap: 0;
                }
            }
            &.mobile {
                display: none;

                @include respond-below(md) {
                    display: flex;
                }

                .try-content__text {
                    @include respond-below(md) {

                        display: block;
                    }
                }

                .btn-arrow {
                    @include respond-below(md) {

                        display: flex;
                    }
                }
            }

            &__highlight {
                color: var(--Contrast-2, #BBD8E9);
                font-family: "Apotek ExtraCond";
                font-size: 28px;
                font-style: normal;
                font-weight: 550;
                line-height: normal; /* 204.419% */
                text-transform: uppercase;
                margin: 0;

                @include respond-below(md) {
                    width: 100%;
                    text-align: center;
                    font-size: 24px;
                    line-height: 1;
                }
            }

            &__heading {
                color: #FFF;
                font-family: "Apotek ExtraCond";
                font-size: 60px;
                font-style: normal;
                font-weight: 716;
                line-height: 52px;
                /* 86.667% */
                text-transform: uppercase;
                margin: 0;

                @include respond-below(md) {
                    width: 100%;
                    text-align: center;
                    font-size: 32px;
                    line-height: 1;
                }
            }

            &__text {
                color: var(--Background, #FFF);
                font-family: "Roboto Condensed";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 150% */
                margin: 0;
                width: 373px;

                @include respond-below(md) {
                    width: 100%;
                    text-align: center;
                    display: none;
                }
            }

            .btn-arrow {
                @include respond-below(md) {
                    display: none;
                }
            }

        }

        .try-image {
            img {}
        }

    }

    .usps-section {
        border-radius: 40px;
        background: var(--Contrast-2, #BBD8E9);

        @include respond-below(md) {
            padding: 16px;
            padding-bottom: 0;
        }

        .container {
            display: flex;
            gap: 27px;
            justify-content: center;
            padding: 300px 0 116px;
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;

            @include respond-below(md) {
                flex-direction: column;
                padding: 120px 0 350px 0;
                background-size: 300px !important;
            }
        }

        .heading {
            width: 435px;

            @include respond-below(md) {
                width: 100%;
                display: none;
            }

            h2 {
                color: var(--Contrast-1, #193547);
                font-family: "Apotek ExtraCond";
                font-size: 60px;
                font-style: normal;
                font-weight: 716;
                line-height: 52px;
                /* 86.667% */
                text-transform: uppercase;
                text-align: left;
                margin: 0;

                @include respond-below(md) {
                    font-size: 32px;
                    text-align: center;
                }
            }

            .btn-arrow {}
        }

        .usps-wrapper {
            display: flex;
            width: 658px;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;

            @include respond-below(md) {
                width: 100%;
            }

            .usps-item {
                border-radius: 20px;
                background: #FFF;
                display: grid;
                grid-template-columns: 280px auto;
                padding: 16px 13px;
                align-items: center;
                gap: 24px;
                align-self: stretch;

                @include respond-below(md) {
                    grid-template-columns: auto;
                }

                &:hover {}

                .item-icon {
                    width: 39px;
                    height: 39px;
                }

                .usps-item-header {
                    display: flex;
                    gap: 24px;
                    align-items: center;

                    h4 {
                        color: var(--Contrast-1, #193547);
                        font-family: "Apotek ExtraCond";
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 716;
                        line-height: 28px;
                        /* 116.667% */
                        text-transform: uppercase;
                        margin: 0;

                        @include respond-below(md) {
                            font-size: 24px;
                        }
                    }
                }

                .description {
                    color: var(--Contrast-1, #193547);
                    font-family: "Roboto Condensed";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0;
                    /* 125% */
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

}