.xite-featured-collection-products {
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(61, 167, 236, 0.20) 0%, rgba(0, 0, 0, 0.00) 100%), var(--Contrast-1, #193547);
    box-shadow: 0px -16px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 68px 82px 157px;
    margin-top: -15px;
    @include respond-below(md){
        padding: 40px 0 66.147px 0;
        overflow: hidden;
    }
    .section-header{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 60px;
        padding: 0 16px;
        @include respond-below(md){
            grid-template-columns: auto; 
            margin-bottom: 32px;
        }
        .heading-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
            .heading{
                text-align: left;
                @include respond-below(md){
                    text-align: center;
                    width: 100%;
                }
            }
            p{
                width: 436px;
                color: var(--Contrast-2, #BBD8E9);
                leading-trim: both;
                text-edge: cap;
                
                /* BODY */
                font-family: 'Roboto Condensed';
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 125% */
                @include respond-below(md){
                    font-size: 16px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .description{
            display: flex;
            justify-content: end;
            .btn-arrow{
                align-self: center;
                @include respond-below(md){
                    display: none;
                }
            }
        }

    }
    // .collection-products {
    //     display: grid;
    //     grid-template-columns: repeat(auto-fill,minmax(323px,1fr));
    //     gap: 20px;
    //     @include respond-below(md){
    //         display: none;
    //     }
    //     .product-card{
    //         width: 100%;
    //         max-width: unset;
    //     }
    // }
    .collection-products{
        padding-left: 16px;
        &:hover{
            .swiper-button-prev, .swiper-button-next{
                opacity: 1;
                &.swiper-button-disabled{
                    opacity: .75;
                }
            }
        }
        @include respond-below(md){
            display: block;
        }
        overflow: unset;
        .product-card{
            display: flex;
            max-width: unset;
        }
        .swiper-slide {
            width: fit-content;
        }

        .swiper-button-prev, .swiper-button-next{
            z-index: 20;
            border-radius: 40px;
            border: 1.192px solid var(--Contrast-1, #193547);
            display: flex;
            width: 56px;
            height: 56px;
            background-color: #193547;
            opacity: 0;
            transition: ease .2s;
            z-index: 5;
            &:after {
                font-size: 20px;
                color: #FFF;
            }
            @include respond-below(md){
                display: none;
            }
        }

    }
    .btn-arrow.mobile{
        display: none;
        background: var(--Contrast-1, #193547);
        border-bottom: 1px solid white;
        border-radius: 0;
        padding: 12px 0px 12px 0px;
        @include respond-below(md){
            width: fit-content;
            display: flex;
            color: white;
            margin: auto;
            margin-top: 32px;
        }
        .arrow{
            width: auto;
        }
    }
}