// Base Styles
.xite-featured-banner {
    @include respond-below(md){
        padding: 15px;
    }
    p, h2{
        margin: 0;
    }
    .featured-banner {
        background-size: cover;
        background-position: center;
        border-radius: 40px;
        padding: 137px 114px;
        position: relative;
        overflow: hidden;
        @include respond-below(md){
            padding: 15px;
        }
        &:hover{
            .featured-banner__overlay{
                opacity: 1;
            }
            .featured-banner__content{
                opacity: 1;
            }
            .featured-banner__photos{
                opacity: 1;
            }
        }
        &__video {
            position: absolute;
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            transform: translateX(-50%) translateY(-50%);
            z-index: 1;
            @include respond-below(md){
                object-fit: cover;
                width: 100%;
            }
        }
        &__overlay{
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(269deg, rgba(25, 53, 71, 0.00) -29.5%, rgba(25, 53, 71, 0.90) 68.59%);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.5;
            transition: ease .2s;
            @include respond-below(md){
                opacity: 1;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(182deg, rgba(25, 53, 71, 0.00) 19.55%, rgba(25, 53, 71, 0.90) 70.72%);
            }
        }
        &__content {
            position: relative;
            z-index: 1; // Ensures content is above the background
            max-width: 439px;
            display: flex         ;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            opacity: 0.5;
            transition: ease .2s;
            @include respond-below(md){
                opacity: 1;
                height: 709px;
                justify-content: flex-end;
                width: 100%;
                max-width: unset;
            }
        }
        &__photos {
            position: absolute;
            right: 0;
            z-index: 10;
            top: 0;
            bottom: 0;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;
            transition: ease .5s;
            @include respond-below(md){
                display: none;
            }
            .old-photo{
                width: auto;
            }
        }

        &__highlight {
            color: var(--Contrast-2, #BBD8E9);
            leading-trim: both;
            text-edge: cap;
            
            /* DSK/SUMMARIES */
            font-family: "Apotek ExtraCond";
            font-size: 28px;
            font-style: normal;
            font-weight: 550;
            line-height: normal; /* 204.419% */
            text-transform: uppercase;
            @include respond-below(md){
                line-height: normal;
            }
        }

        &__title {
            color: var(--Background, #FFF);
            font-family: "Apotek ExtraCond";
            font-size: 60px;
            font-style: normal;
            font-weight: 716;
            line-height: 52px; /* 86.667% */
            text-transform: uppercase;
            @include respond-below(md){
                font-size: 32px;
                line-height: 36px;
            }
        }

        &__text {
            color: var(--Contrast-2, #BBD8E9);
            font-family: "Roboto Condensed";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
        }

        &__actions {
            display: flex;
            justify-content: start;
            gap: 1rem;
            flex-wrap: wrap;
            @include respond-below(md){
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-self: center;
                max-width: fit-content;
            }
            .featured-banner__cta{
                border-radius: 40px;
                background: var(--Contrast-2, #BBD8E9);
                display: inline-flex;
                padding: 16px 15px 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 11.924px;
                color: var(--Contrast-1, #193547);
                font-family: "Apotek ExtraCond";
                font-size: 33.388px;
                font-style: normal;
                font-weight: 716;
                line-height: 28.619px; /* 85.714% */
                text-transform: uppercase;
                .play-icon{

                }
            }
            .featured-banner__additional-link {
                color: var(--Contrast-2, #BBD8E9);
                font-family: "Roboto Condensed";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 150% */
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: none;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
                align-self: center;
            }
        }
    }
}