.xite-featured-collections {
    background: linear-gradient(180deg, rgba(25, 53, 71, 0.00) 4.55%, rgba(61, 167, 236, 0.80) 180.93%), var(--Contrast-2, #BBD8E9);
    padding: 33px 0 53px 0;
    align-items: center;

    @include respond-below(md) {
        padding: 60px 17px 97px 16px;
    }

    .container {
        ul.collections-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(123px,1fr));
            gap: 20px;
            width: 900px;
            list-style: none;
            max-width: 1124px;
            margin: auto;
            @include respond-below(md) {
                grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
                gap: 9px;
                width: 100%;
            }

            .collection-item {
                max-width: 208px;
                a{
                    border-radius: 12px;
                    background: #FFF;
                    box-shadow: 0px 0px 16.133px 0px rgba(31, 31, 31, 0.12);
                    display: flex;
                    min-width: 108px;
                    max-width: 208px;
                    min-height: 160px;
                    padding: 8px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    flex: 1 0 0;
                    height: 100%;
                    transition: ease .1s;
                    &:hover {
                        background: var(--Contrast-1, #193547);
                        img {
                            
                        }
                        h4 {
                            color: var(--Contrast-2, #BBD8E9);
                            font-size: 20px;
                            line-height: 20px;
                            /* 100% */
                            letter-spacing: 0.4px;
                            text-transform: uppercase;
                        }
                    }

                    img {
                        height: 100px;
                        align-self: stretch;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 9.68px;
                    }
    
                    h4 {
                        color: var(--Contrast-1, #193547);
                        font-family: $apotek-font;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 633;
                        line-height: 20px;
                        letter-spacing: 0.4px;
                        text-transform: uppercase;
                        margin: 0;
                     padding: 0 45px 0px 0px;
                    }
                }
            }
        }
    }
}